.fox-card {
    width: 160px;

}

.card-image {

    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-image .fa-ellipsis-v {
    color: white;
    align-self: self-start;
    margin: 5px;
}

.card-image .fa-play {
    color: white;
    font-size: 36px;
}

.album {
    /* 14-bold-qs */
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
    /* identical to box height */


    color: #555555;
}

.c-title {
    /* 12-regular-qs */
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    /* Gray */
    color: #828282;
}